* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: antiquewhite;
}
.container {
  background-color: rgb(173, 137, 93);
  padding: 50px;
  border-radius: 10px;
  color: #fff;
}
label,
input,
button {
  display: block;
}
label {
  margin: 10px 0;
  font-size: 20px;
}
input {
  width: 100%;
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
}
button {
  width: 100%;
  margin: 10px 0;
  padding: 8px 0;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: #fff;
}
p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
